{% extends "base.html" %}

{% block title %}Sokohub: Tech & Fashion Hub {% endblock %}

{% block content %}

    <section id="hero" class="hero-section tech-fashion-bg">
        <div class="container">
            <h1>Welcome to Sokohub</h1><br>
            <h1>Sokohub "Is Your Hub for the Latest Tech and Trending Fashion".</h1>
            <p class="subtitle">Discover cutting-edge devices and curated apparel collections in one secure marketplace.</p>
        
        </div>
    </section>

    
             

    <section id="assurance-support" class="py-5">
        <footer>
    <div class="container">
        <p>Contact Sokohub  </p>
        <p>Phone: 0787784583</p> 
        <p> Email: sokohub@gmail.com</p>
        
        <div class="social-links">
            
            <a href="[Your Instagram URL]" target="_blank" aria-label="Follow Sokohub on Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            
            <a href="https://wa.me/+250724119035" target="_blank" aria-label="Chat with Sokohub on WhatsApp">
                <i class="fab fa-whatsapp"></i>
            </a>
            
        </div>
    </div>
</footer>
    </section>

{% endblock content %}